.bg {
  background: url('http://static1.squarespace.com/static/5579006be4b01eeef8deb5c5/t/55930a90e4b0d217906d5af0/1435699856827/Work_Background.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 300px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 300px;
  color: white;
  /*text-shadow: #444 0 100px 100px;*/
  text-shadow: 2px 2px 4px #000000;
  text-transform: bold;
  background:transparent;
}


#main {
  margin-top:100px;
  position:relative;
  background:#fff;
  padding-left: 100px;
  padding-right: 100px;
}
